p {
        font-family: verdana,arial,sans-serif;
        font-size:12px; }
h1 {
        font-family: verdana,arial,sans-serif;
        font-size:13px; }
a {
        font-family: verdana,arial,sans-serif;
        font-size:10px; }
